@font-face {
    font-family: 'iranyekan';
    src: url(./assest/fonts/BYekan.woff) format('woff'),
        url(/assest/fonts/BYekan.woff2) format('woff2');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "iranyekan";
    list-style: none;

}


:root {
    --primaryColor: #6d28d9;
    --hoverColor: #9f74e6;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGray: #7c7c7c;
    --secondaryGray: #ccc;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}


html {
    font-size: 0.625rem;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);

}



.container {
    display: flex;

}

/* navbar */
.nav {
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--primaryColor);
    width: 20rem;
    height: 100vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--mainWhite);
    border-radius: 3.6rem 0 0 0;
    text-wrap: nowrap;
}

.nav__logo p {
    height: 10rem;
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;

}


.nav__slidebar {
    width: 100%;
    text-align: right;
    flex-grow: 1;

}

.slidebar__link i{
padding: 0 1rem;
}

.slidebar__link {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--mainWhite);
    display: block;
    height: 6rem;
    line-height: 6rem;
    width: 100%;

}


.slidebar__link:hover {
    background-color: var(--hoverColor);
    border-radius: 0.8rem;
    margin:0 0.5rem ;

}


#app {
    margin: 2rem;
    font-size: 6rem;

}

.arrow-toggle i {
    position: absolute;
    /* width: 2.2rem;
    height: 2.2rem; */
    background-color: var(--mainWhite);
    bottom: 3rem;
    left: -1.2rem;
    z-index: 20;
    border-radius: 50%;
    color: var(--primaryColor);
    transition: all 0.5s ease-in-out;
}

.arrow-toggle:hover i{
    /* transform: rotateY(180deg ); */
    box-shadow: 0.5rem 0.5rem 0.5rem #864ae7;
}


.nav.nav--toggle {
    width: 4rem;
}

.nav.nav--toggle .nav__logo p{
    font-size: 1.6rem;
    writing-mode: vertical-rl;
    margin-bottom: 2rem;
}

.nav.nav--toggle .nav__version p{
    font-size: 1.6rem;
    writing-mode: vertical-rl;
    margin-bottom: 6rem;

}


.nav.nav--toggle .arrow-toggle i{
    transform: rotateY(180deg );
}